
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  color: 'red';
}
body {
    background-color: lightblue;
}

/* comment */
body {
    background-repeat: repeat-x;
    /*background-attachment: fixed;*/
    background-position: 95% 20%;
    background-position: top;
}
